.nav-bar {
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 3px 2px 0 #979797;
}

.nav-col {
    float: left;
    width: 33.33333333%;
    height: 60px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.nav-bar .left .img {
    margin-left: 10px;
    max-height: 60px;
    text-align: left;
}

.nav-bar .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

button.close {
    outline: none;
}
